
body{
    font-family: "Roboto",
        sans-serif;
    font-weight: 400;
    color: #434455;
    background: #FFFFFF;
    letter-spacing: 0.02em;
}

:root{
--primari-font: "Roboto",
    sans-serif;

}
/* header*/

.header {}

/* reset*/
ul,ol {
    list-style: none;
}
 
a {
    text-decoration: none;
    color: currentColor;
}

button{
    cursor: pointer;
}

.nav {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5; 
        }

.header-logo {
        font-family: 'Raleway', sans-serif;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.17;
        color: #4d5ae5;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        }

.logo-span {
    color: #2e2f42;
}

.header {}

.list {
    list-style: none
}

.header-list-item {}

.header 

.link {
    color: #2e2f42;
    text-decoration: none;
}

.link:hover,
.link:focus{
    color: #404bbf;
}

address {
    font-style: normal;
}

.address 

.address-list-item {}

.address-link {}

/* section one*/

.section {}

.one {
    background: #2E2F42;
}

.one-title {
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        color: #FFFFFF;
}

.one-btn {
        background: #4D5AE5;
        color: #FFFFFF;
}

/* section two*/

.section {}

.two {}

.two-hidden-title {}

.two-list {}

.two-title {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        
}

.two-text {
        font-size: 16px;
        line-height: 1.5;
        color: #434455;
}

/* section three*/

.section {}

.three {}

.three-title {
    font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        text-transform: capitalize;
}

.three-list {}

.three-list-item {}

/* section four*/

.section {
    
}

.four {
    background: #F4F4FD;
}

.four-title {
    font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        text-transform: capitalize;
}

.four-list {}

.four-list-item {}

.four-name {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
}

.four-text {
    line-height: 1.5;
        color: #434455;
}
/*section5*/

.section {}

.five {}

.filters {}

.filter-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #4D5AE5;
    background: #F4F4FD;
}

.five-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
}

.five-text {
    color: #434455;
}
/* footer*/

.footer {
    background: #2E2F42;
}

.footer-span{
    font-family: 'Raleway';
        font-style: normal;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4D5AE5;
}

.studio-span{
    font-family: 'Raleway';
        font-style: normal;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #F4F4FD;
}
.footer-text {
    line-height: 1.5; 
        color: #F4F4FD;
}

