:root {
    --primari-font: "Roboto",
        sans-serif;
}

body{
    font-family: "Roboto",
        sans-serif;
    font-weight: 400;
    color: #434455;
    background: #FFFFFF;
    letter-spacing: 0.02em;
}


/* header*/

.header {}

/* reset*/
ul,ol {
    list-style: none;
}
 
a {
    text-decoration: none;
    
}

button{
    cursor: pointer;
}

.nav {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5; 
        }
.link {
    color: #2e2f42;
    text-decoration: none;
}

.header-logo {
        font-family: 'Raleway', sans-serif;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.17;
        color: #4d5ae5;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        }

.logo-span {
    color: #2e2f42;
}

.header .link{
    
}



.header-list-item {}



.link:hover,
.link:focus{
    color: #404bbf;
}

address {
    font-style: normal;
    line-height: 1.5;
    color: #434455;
}

address {

}

.address-list-item {}

.address{
    
}

.link {}

/* section one*/

.section {}

.one {
    background: #2E2F42;
}

.one-title {
        text-align: center;
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        color: #FFFFFF;
}

.one-btn {
        font-family: var(--primary-font);
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        background: #4D5AE5;
        color: #FFFFFF;
}

.one-btn:hover,
.one-btn:focus{
    color: #404bbf;
    background-color: #404BBF;
}
/* section two*/

.section {}

.two {}

.two-hidden-title {}

.two-list {}

.two-title {
    
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
}

.two-text {
        font-size: 16px;
        line-height: 1.5;
        color: #434455;
}

/* section three*/

.section {}

.three {}

.three-title {
    font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        text-align: center;
        text-transform: capitalize;
        color: #2e2f42;

}

.three-list {}

.three-list-item {}

/* section four*/

.section {
    
}

.four {
    background: #F4F4FD;
}

.four-title {
        text-align: center;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        text-transform: capitalize;
        letter-spacing: 0.02em;
        color: #2e2f42;
}

.four-list {}

.four-list-item {
    background-color: #FFFFFF;
}

.four-name {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
}

.four-text {
    line-height: 1.5;
        color: #434455;
}
/*section5*/

.section {}

.five {}

.filters {}

.filter-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #4D5AE5;
    background: #F4F4FD;
}

.filter-btn:hover,
.filter-btn:focus {
    color:#FFFFFF;
    background-color: #404BBF;
}
.five-title{
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2E2F42;
}
.five-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
/* footer*/

.footer {
    background: #2E2F42;
}

.footer-span{
    color: #F4F4FD;
}


.footer-text {
    line-height: 1.5; 
        color: #F4F4FD;
}

.list {
    list-style: none
}